<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>new</key>
	<dict>
		<key>name</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>itemArray</key>
		<array>
			<dict>
				<key>name</key>
				<string></string>
				<key>discription</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>imagePrefix</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>discription</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>imagePrefix</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>discription</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>imagePrefix</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>discription</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>imagePrefix</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>cafe</key>
	<dict>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>itemArray</key>
		<array>
			<dict>
				<key>name</key>
				<string></string>
				<key>discription</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>imagePrefix</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>discription</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>imagePrefix</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>discription</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>imagePrefix</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>discription</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>imagePrefix</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>teaAndOther</key>
	<dict>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>itemArray</key>
		<array>
			<dict>
				<key>name</key>
				<string></string>
				<key>discription</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>imagePrefix</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>discription</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>imagePrefix</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>discription</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>imagePrefix</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>discription</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>imagePrefix</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>food</key>
	<dict>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>itemArray</key>
		<array>
			<dict>
				<key>name</key>
				<string></string>
				<key>discription</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>imagePrefix</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>discription</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>imagePrefix</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>discription</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>imagePrefix</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>discription</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>imagePrefix</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>activities</key>
	<dict>
		<key>icon</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>itemArray</key>
		<array>
			<dict>
				<key>name</key>
				<string></string>
				<key>discription</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>imagePrefix</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>discription</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>imagePrefix</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>discription</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>imagePrefix</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string></string>
				<key>discription</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>imagePrefix</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>enum</key>
	<dict>
		<key>new</key>
		<string></string>
		<key>cafe</key>
		<string></string>
		<key>teaAndOther</key>
		<string></string>
		<key>food</key>
		<string></string>
		<key>activities</key>
		<string></string>
	</dict>
</dict>
</plist>
