<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>如花美眷，似水流年。时间回不到过去，但心却可以变的简单一如当年，保持初心，谁也无法让你老去。</string>
	<string>最幸福的人并不一定什么都是最好，只是因为他们懂得欣赏生活的美好。最幸福的人并不是拥有最好的一切，只不过他们可以把一切都变成最好。</string>
	<string>如果不给自己烦恼，别人也永远不会给你烦恼，因为烦恼是自己内心的放不下。不是风动，也不是旗动，而是心在动。</string>
	<string>记忆中的一切都是那么美好，或许是童年时所拥有的物质远没有现在丰厚，因此那时的快乐是那么的简单。不过，不必伤感，也许正因为事过境迁，才能体会到成长的乐趣，人生如咖啡，知苦也知甜。</string>
	<string>在小时候总是盼望长大，长大后才真正明白童年的珍贵、短暂，与美好。尽管时光不能倒流，但留下的记忆却是弥足珍贵，有回忆，那段光阴就没有虚度。</string>
	<string>每颗心都有一处柔软的地方，区别只是深浅的不同。我们需要感动，可以是泪水的，可以是笑容的，因为能够感动，就是幸福的一种。</string>
	<string>人生是一个不断选择的过程，选择了坚强，就放弃了懦弱；选择了奋斗，就放弃了安逸；选择了独行，就放弃了跟随。某种程度上讲，选择比努力更重要，因为选择决定了人的方向，一旦选择出现错误，更多的努力或许只会带来更大的偏离。</string>
	<string>人应该像河流一样，在遇到石头的时候，要么绕过它继续前进，要么携裹它一起前行，这样才能义无反顾，一往直前。而遇到阻碍就停滞不前的，注定只能是一泓浅溪。</string>
	<string>优雅是一种淡然的美，是一个人内心美的外露。优雅之人心如止水，波澜不惊，不以物喜，不以己悲。如果希望优雅的生活，做一个从容的人，首先要让自己静下来，学会宽容、仁爱、温和、谦恭。人生，因静而从容，因从容而优雅。</string>
	<string>在没人欣赏的时候，依然能放开自己，保持快乐。因为只有发自内心的快乐才能感染别人。而且当你快乐的时候，或许正有一双需要温暖的眼睛在看着你，也许就因为你的一个无意举动，却让微笑绽开在他的嘴角，这时你就变成了一个有意义的人。</string>
	<string>我们无法预知未来，所以很多事情总是坚持到最后才知道好与坏。有时候明明很快乐，却因为一件小事转向烦恼；而有时候，明明很困难的事情，只因平静地面对它，反而得到幸运之神的眷顾。所以，人生的好坏都取决于心态。</string>
	<string>临街的玻璃窗像是一本画面会移动的书，每天都在变幻着新的内容。我愿在这样静好的时光里，听见花开的声音，听见，幸福的声音。时光会记得，那些美好，深藏在心中，永远不会离去。</string>
	<string>生活有很多面，注意力在哪里，心就在哪里。以宁静心看世界，再喧嚣也不会动摇；用欢喜心过生活，再寒冷的天气也影响不了心情。快乐与烦恼，只在一念之间。</string>
	<string>比起夏天，我更喜欢冬天盛开的花们，在最寒冷的时候，绽放出自己最精彩的瞬间，为冬季增添一份色彩。换而言之，人生也何尝不该如此呢？</string>
	<string>留不住时光的脚步，不如就索性跟着它前进，让它带着我们找寻到最美好的生活。只要路是对的，就不害怕遥远。只要认准是值得的，就不在乎沧桑变化。</string>
	<string>我们都是这样一点一滴长大的，这个过程中不能借谁的腿，也不能借谁的的光阴。但是我们可以分享光阴，这是一种由衷的快乐，我是多么的幸运，在我的生命中能有这样一个词汇--朋友！</string>
	<string>用一个故事的时间去煮好一杯咖啡，再用一杯咖啡的时间去讲述一个故事。当时光随着四季变更不停的流转，我们能够挽留的，除了光阴的只言片语，还有曾经温暖和难以磨灭的记忆。</string>
	<string>我想把夏天的太阳，搬到冬天里来，让它透过大大的落地窗，照在每个人的身上，一杯咖啡的惬意，让细节都缓慢，让安宁都绵长。</string>
	<string>开一间咖啡小屋，走条自己想走的路。杯碟都是自己买来，一楼的木桌和圣诞树也是自己动手，每层都有心爱的绘画，在每个桌上也都放着鲜花，在上边别着我的祝福。</string>
	<string>人需要一个特定的环境随时沉淀自己。生活中或得或失，每一寸光阴都承载着悲喜。将这些阅历沉淀起来，就变成了智慧，沉淀情感丰满心灵，沉淀心情换取宁静。沉淀，不是消沉，是用一颗淡然的心审视浮躁，在宁静中找到属于自己的位置。</string>
	<string>快乐属于知足者，幸福属于感恩者。用平常心对待生命的每一天，用感恩心对待眼前的每一个人，幸福和快乐就会不请自来。心怀感恩，幸福常在。</string>
	<string>一片森林，一条小溪，一方蓝天，干净简单的小屋，自由心情下的绘画，一群友好的邻居，多少年前，这就是我的梦想。多少年后，梦想的脚步还在一直坚持。再见，昨天；你好，今天；梦想始终与我们同在。</string>
	<string>是否快乐与幸福，凭的是眼界与心境。仰视久了，谁都会卑微，殊不知还有许多人，却在拼命艳羡和梦想着过你的生活。人终究不能活得太疲惫，在平淡的流年里寻找命运的出口，抵达心灵的繁华。</string>
	<string>人心如流水。禁锢，只会引起更严重的泛滥；放纵，只会造成更多乱流。因此要想控制好它，首先要安心。安心，不是达成自己的愿望，因为欲海无边，而是淡然。壁立千仞，无欲则刚。淡然的心不计得失，懂得宽容，自然赢得一片宁静。宁静幸福的生活，要用宁静的心来换取。</string>
	<string>幸福需要与人分享，否则内心就会像死海那样，水流只进不出，最终一片死寂。会给予，才能收获幸福。幸福是一件神奇的宝贝，它不会越分越少，只会越分越多，人生因付出而快乐，幸福因分享而增值。</string>
	<string>宁静是一种奢侈品，只有心灵富有的人才能享受。宁静不是表面的安静，而是生活馈赠给坚强之人的一种淡然和安详。宁静的人如同一潭湖水，万象掠过而不为所动。不争、不惧、不卑不亢，从容、超脱。</string>
	<string>一杯咖啡，可以无限意蕴，也可以只是一杯咖啡，简单与繁复都在自己。岁月的流逝，会让很多喧闹归于淡静，但一杯咖啡却越来越值得品味，越来越照见日子的从容与美好。</string>
	<string>圣诞是这样美好的时光：炉火熊熊，花儿芬芳，醇酒飘香，殷殷祝福，美好回忆， 友谊日新。即便没有一切，只要有爱便足矣。愿过去的不开心不安宁都沉淀下来，愿珍惜这些温暖的日子。</string>
	<string>有几个情投意合的朋友是最幸福的事了，开心时有人分享，难过时有人倾听。可以围在一起讲笑话讲八卦，聊衣服聊明星聊各自的现在和将来。虽然以后还无法预料，但我能确定的是，我们的未来都会有对方的位置，好朋友好伙伴好闺密好兄弟，我们一起走吧，趁将来未来，趁年华正好。</string>
	<string>周末，我喜欢呆在咖啡馆，或者约几个好友，或者就是我自己，可以默默地注视着窗外的风景，也可以低头阅读手中的书籍。这一刻，时间仿佛静止了一般，明天又是新的开始。</string>
	<string>容易为小事感动，就能收获大的幸福。人生是由每一个片刻串联起来的，若不能把握刹那时光，好好享受小小的感动，那又怎么享受整个人生？试着开始为每件小事感动吧。为活着感动、为愉快地用餐感动、为能闻到花香感动、为能任意伸展四肢感动…生命中有许多看似理所当然的事，若不珍惜，形同失去。</string>
	<string>在欣赏风景时，后退一步，画面会更加宽广，容下更多的美丽。在寸土寸金的都市里，把脚步放慢一点，让行色匆匆的都会即景，在缓冲空间的框景下，多出一分温暖的亮色。</string>
	<string>卡布奇诺有一种让人无法抗拒的独特魅力，起初闻起来时味道很香，第一口喝下去时，可以感觉到大量奶泡的香甜和酥软，第二口可以真正品尝到咖啡豆原有的苦涩和浓郁，最后当味道停留在口中，又会觉得多了一份香醇和隽永。一种咖啡可以喝出多种不同的独特味道，不觉得很神奇吗？</string>
	<string>时光，是一条河。在河畔种下种子，她就会帮你浇灌；躺在河边睡觉，她会把你的梦带向你永远追不上的远方。</string>
	<string>做咖啡就像做艺术品，从选材到最终送到顾客手里，传递的是一种温暖，一种理念。</string>
	<string>艺术好似明灯，驱赶着心中的黑暗，照亮了心房，使心底最美好的幻想呈现出来。</string>
	<string>快乐和幸福像流沙，抓的越紧流失的越多，宽容是手心的力度，指间的从容，内心的豁达，一杯咖啡暖在手心，生活本是云淡风轻。</string>
	<string>时间唯有忙里偷闲方显珍贵，咖啡唯有妙手偶得方显美味。</string>
	<string>幸福是什么？幸福就是简单，是每一个微小的生活愿望达成，吃的时候有得吃，想被爱的时候有人来爱，还可以帮助别人，传递温暖。感到幸福的时候，酒太烈，茶太闲，一杯咖啡刚刚好。</string>
	<string>小时候学校里兴过一阵绘画热，当时也画的颇得老师夸奖，然而就像那时遇到的很多美好的东西一样，虽然都曾吸引到小小的我们，但最终梦想只是伴随着某一生命阶段一闪而过，只留下一段温馨的回忆。</string>
	<string>有时把咖啡喝进嘴里，温暖的不仅是我的身体，还有我的灵魂。</string>
	<string>你，在我灵感枯竭时给我幻想，在疲惫时给我精力，在快乐时给我温暖，在心动时给我勇气，我想我早已习惯了你的味道，生活因为有你而不同。如果有人说你苦，那就离开他，直到他想起你的好，忆起你的甜。</string>
	<string>你会不会忽然的出现在街角的咖啡店，我回带着笑脸挥手寒暄，和你坐着聊聊天，我多么想和你见一面，看看你最近改变。不再去说从前，只是寒暄，对你说一句，只是说一句，好久不见。</string>
	<string>生活，当快则快，该慢则慢，时时让灵魂松弛一下，不要让自己累倒在人生的岔道上。心情，时时调整，越是冬天，越要主动寻找温暖。</string>
	<string>明天是星期六，我想告诉自己：生活不要安排得太满，生命不要设计得太挤。不管做什么，都要留点时间和空间，让自己可以从容和温暖。</string>
	<string>第一种生活叫责任，第二种生活叫理想。如果少了责任，人生缺乏基础；没有理想，生命就又少了广度。我们大部分时间都会在责任中度过，所以为什么要有咖啡馆，因为人们需要一个弹性空间，可以轻松第一种生活，分享第二种生活，快乐生活最重要。</string>
	<string>用心的人运气总不会太差。</string>
	<string>这个下午我专心于一杯咖啡，只是因为温暖，寒冷的天气或许还会袭来，但咖啡的余温还留在手心。</string>
	<string>玛琪朵，在意大利语中有＂盖子＂的意思，细腻的奶泡覆盖在顶端，一半温暖，一半寒冷，当两种温度在嘴里融合，被加速的味觉体验让人欲罢不能。</string>
	<string>时间越久，留下的美好就越多。</string>
	<string>说咖啡的种种好处，我认为咖啡最大的好处在于激发思考——多少文学作品、生活态度、名言名句，甚至科技产品都是诞生在咖啡馆的灵感一现中啊。</string>
	<string>有一千个朋友，就能感知出一千种More Cafe ，More Cafe给每个朋友带来的感受都不尽相同，但有一点是不变的，那就是一段同样愉悦的时光。</string>
	<string>我梦想有一个舒适温暖、洒满阳光温暖的玻璃房，能让我放松心情、宣泄感情、享受美食。那里有葱郁的植物、干净的原创音乐、香醇的咖啡、难忘的美食……当我奔走在这个城市，忽然有一天，我们邂逅。我知道，我找到了，生命、音乐、朋友、甚至理想……</string>
	<string>午后的咖啡屋是宁静而松弛的，在两个工作时段的交叉点，让人静静地享受生活的惬意。</string>
	<string>你喝咖啡吗？你爱喝咖啡吗？你喝咖啡是为了它的名字？还是为了喜欢它的味道？你喝咖啡是为了打发时光？还是在品尝一种感觉？</string>
	<string>时间会变，但是More Cafe的微笑与温暖不会变。</string>
	<string>梦想其实也未必复杂，有一个自己喜欢的咖啡店，一群谈得来的朋友，一段共同消磨的光阴，这就是幸福。</string>
	<string>这是我们的More cafe和世界。爱上咖啡也许有千万种理由也许并不需要理由。无论你身处世界任何一个角落，无需多言。</string>
	<string>也许你不是在这座城市出生，但它看过你的喜怒哀乐；也许只是一杯咖啡，但却会带给你熟悉的归属感，在More cafe，能收获的不仅仅只有友情和爱情。</string>
	<string>早晨的咖啡代表一天的开始，忙碌，紧张，精力充沛。下午的咖啡则更显得悠闲和小憩，温暖的阳光胜过任何一件新羊毛衫，More cafe就在你的身边，只等你推门而来。</string>
	<string>制作咖啡的过程是一段很有意义的旅行，在咖啡师充满灵感的创作下，每一杯咖啡的气息、口感和温度都恰到好处。最终，它将与你偶遇在某一天的某一刻。在More cafe，旅行也好，生活也好，都是自己的，高兴就好。</string>
	<string>在美好的年华中总会遇到那么一群人，他们教会了你爱，给了你温暖。在深秋的午后总会有那么一个咖啡馆，它有宽大的落地窗和和煦的阳光，侍者微笑说：咖啡已经煮好，等你来的时候，温度应该刚刚好。More cafe，最美好的东西都值得等待。</string>
	<string>当咖啡散发着迷人的醇香飘散开来时，咖啡师也就变成了艺术家，你不能不为这一气呵成的艺术创作而感叹，咖啡师制作的不仅是一杯咖啡，也是在创造一种咖啡文化。</string>
	<string>文学家还是科学家？音乐家还是画家？童年的理想是如此丰富多彩。也许正是为此，我们做过厚厚的习题，投过大叠的简历，然后修炼出各种人生……一杯咖啡，一段回忆，你的理想曾是什么？</string>
	<string>最好的服务就是最恰当的服务，少一分太瘦，多一分太胖，让一切都刚刚好。记住顾客的口味，给予最美好的微笑和心情，more cafe所拥有的，不光是专业的咖啡。</string>
	<string>在这里，咖啡是传递，将温暖从唇边传递进内心，就如同阳光穿越般的感觉，才发现，人活着其实只是一种心情。</string>
	<string>如果把生活当做一杯咖啡，那么一星期就变成了八天，因为多出一天的品味。生命，就该用在最美好的事物上。</string>
	<string>雨天，感受混合着咖啡醇香和雨水清香的独特味道，愿用一杯咖啡温暖你。</string>
	<string>一个好的咖啡馆应该是明亮的，空间里应该有一定的气息，但又不是苦涩的烟味。主人应该是知己，但又不过分的殷勤。每天来的客人应该互相认识，但又不必时时都说话，咖啡是有价格的，但坐在这里的时间无须付钱。与其在别处仰望，不如在这里并肩。来more cafe雕琢属于你的时光。</string>
	<string>又是暖冬，安静下午，悠然空间，享受好咖啡，享受慢生活。</string>
</array>
</plist>
